.form-user-registration {
    background-color: #f3f2f2;
    border: 1px solid #c1c1c1;
    margin-top: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 2.5em 1em 1em;
}

.form-upsert-question {
    background-color: #f3f2f2;
    border: 1px solid #c1c1c1;
    margin: 2em auto;
    max-width: 800px;
    box-sizing: border-box;
    padding: 0 2.5em 1em 1em;
}

.section-form {
    margin: 0 auto;
    width: 50%;
}

.input-form {
    background: #fff;
    border: 1px solid #9c9c9c;
    padding: 0.5em;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.input-form:focus {
    box-shadow: 0 0 5px rgba(0, 0, 128, 1);
    border: 1px solid rgba(0, 0, 128, 1);
}

.input-60 {
    width: 60%;
}

.label-user-resgistration {
     text-align: right;
     display: block;
     padding: 0.5em 1.5em 0.5em 0;
     box-sizing: border-box;
 }

.label-user-resgistration-left {
    text-align: left;
    display: block;
    padding: 0.5em 1.5em 0.5em 0;
    box-sizing: border-box;
}

.input-user-login {
    line-height: 2em;
    width: 90%;
}

.label-right {
    float: left;
    width: 40%;
}

.user-registration-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;

}

.center-text {
    text-align: center;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: .8em;
    text-align: right;
    margin-bottom: 1em;
}

.visible {
    display: block;
    visibility: visible;
}

.hidden {
    display: none;
    visibility: hidden;
}

.parent-user-confirmation {
    width: 100%;
    height:100vh;
    position: relative
}

.user-confirmation {
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    max-width: 600px;
    padding: 2em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate( -50%, -50%);
}

input[type=text]:disabled {
    background: #dddddd;
}

@media (max-width: 1020px) {
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=tel],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }

    .label-right {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
        text-align: left;
    }

    .user-registration-buttons {
        flex-wrap: wrap;
    }

    .btn-user-registration {
        width: 100%;
    }

    .section-form {
        margin: 0 auto;
        width: 80%;
    }
}

.label-report {
    padding: 0.5em 1.5em;
    box-sizing: border-box;
}

select {
    height: 2em;
    overflow: hidden;
}