/* Customized styles */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana,Geneva,sans-serif;
  margin: 0;
  background: #D0D0D0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
    flex: 1 0 auto;
}

header {
  text-align: center;
  background-image: linear-gradient(90deg, #000080, #6A5ACD);
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

header h1 {
  color: #B8B8B8;
  margin: 0;
}

footer {
  padding: 2em 0;
  text-align: center;
  font-size: 0.7em;
  background-image: linear-gradient(90deg, #000080, #6A5ACD);
  color: #B8B8B8;
  flex-shrink: 0;
}

.btn-basic {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.3em 0.7em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.3em;
    color: #B8B8B8;
    background-color: #000080;
    cursor: pointer;
    width: 40%;
    margin: 0.6em;
}

.btn-basic:hover {
    background-color: #3030CD;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 0.5em;
}

.form-login {
    background-color: #f3f2f2;
    border: #B8B8B8 1px solid;
    text-align: center;
    padding-bottom: 1em;
    margin-top: 7em;
}

.btn-login {
    width: 90%;
    line-height: 2em;
}

.form-questions {
    text-align: left;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
}

.center {
  text-align: center;
}

.center-section {
    margin: 0 auto;
    width: 50%;
}

.cursor {
  cursor: pointer;
}

.cursor input[type="radio"] {
  margin: 1em 0;
}

.editOptions {
  margin-left: 3em;
  width: 57% !important;
}

.alignBottomImg {
  vertical-align: bottom;
}

.addIcon {
  margin-left: 62%;
}

.form-editQS {
  width: 100%;
  padding-left: 2em;
  margin: 0 auto;
}

.fontSmaller {
  font-size: 0.8em !important;
}

.arrowDown {
  border: solid #B8B8B8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropDownGroup {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownGroup button {
    float: none;
    text-decoration: none;
    display: block;
    width: 80%;
    font-size: 0.9em;
    background-color: #3030cd;
}

.drop:hover .dropDownGroup  {
    display: block;
    background: #D0D0D0;
}