/* Customized styles */

html {
  position: relative;
  min-height: 100%;
  background: #D0D0D0;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: Verdana,Geneva,sans-serif; 
}

.btn-basic {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3em 0.7em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.3em;
  color: #B8B8B8;
  background-color: #000080;
  cursor: pointer;
  width: 40%;
  margin: 0.6em;
}

header {
  text-align: center;
  background-image: linear-gradient(90deg, #000080, #6A5ACD);
}

header h1 {
  color: #B8B8B8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  font-size: 0.7em;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding: 0.5em;
}

.form-questions {
    text-align: left;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
}

.center {
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.cursor input[type="radio"] {
  margin: 1em 0;
}

.editOptions {
  margin-left: 3em;
  width: 57% !important;
}

.alignBottomImg {
  vertical-align: bottom;
}

.addIcon {
  margin-left: 62%;
}

.form-editQS {
  width: 100%;
  padding-left: 2em;
  margin: 0 auto;
}

.fontSmaller {
  font-size: 0.8em !important;
}