/* Customized styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: Verdana,Geneva,sans-serif; 
}

.btn-basic {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.3em 0.7em;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.3em;
  color: #B8B8B8;
  background-color: #000080;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-questions {
    text-align: left;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
}

.options-answers {
    display: list-item;
    text-align: left;
    margin-left: 2em;
}

.options-answers input {
    margin-right: 0.5em;
}

.form-group {
  padding: 1em;
}

.cursor {
  cursor: pointer;
}