table, td, th {
    border: 0px solid black;
}

.table-edit {
    border-collapse: collapse;
    width: 95%;
    margin: 0 !important;
}

.table-edit tr td:first-child, .table-edit th td:first-child {
    width: 2.5em;
    text-align: center;
}

.table-cell-question:hover {
    background-color: silver;
}

.table-cell-question:focus {
    background-color: white;
}

.table-cell-options ol {
    margin: 0;
    padding-left: 1.3em;
    width: 100%;
}


.table-cell-options ol input {
    margin: 0;
}

.table-cell-options input[type="radio"] {
    vertical-align: middle;
}

.table-cell-options input[type="text"] {
    width: 95% !important;
}