table, td, th {
    border: 0px solid black;
}

.table-edit {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto !important;
}

.table-edit th {
    padding: 1em;
}

.table-edit tr td:first-child, .table-edit th td:first-child {
    width: 2em;
    text-align: center;
}

.table-edit-button-cell {
    width: 2em;
    text-align: center;
}

.table-cell-question input {
    margin-bottom: 0;
}

.table-cell-options ol {
    margin: 0;
    padding-left: 1.3em;
    width: 100%;
}

.table-cell-options ol input {
    margin: 0.5em;
    vertical-align: middle;
}

.table-report tr td {
    padding-right: 2em;
}

.table-report {
    padding: 2em;
    border-collapse: collapse;
}